      <div class="card-columns gallery">
      {% for Item in Gallery.getItems() %}
        <div class="card">
        {% if Item.showImage() %}
      <img src="{{ Item.getImageUrl() }}" class="card-img-top "{% if Item.getImageTitle() %} alt="{{ Item.getImageTitle() }}" title="{{ Item.getImageTitle() }}"{% endif %}>
        {% else %}
        <div class="card-header text-blue h5">{{ Item.getTitle()|raw }}</div>
        {% endif %}
          <div class="card-body">
            <p class="card-text mb-2">{{ Item.getText()|raw }}</p>{% if Item.getQuote() %}
            <blockquote class="blockquote mb-2 font-italic text-muted">{% if Item.getQuoteIcon() %}
              {{ Item.getQuoteIcon()|raw }}{% else %}
                {{ Config.Icons.Quote('mr-1')|raw }}
              {% endif %}
              {{ Item.getQuote()|raw }}
            </blockquote>
            {% endif %}{% if Item.getAction() %}
            <div class="text-center"><a href="{{ Item.getAction().Url }}" class="btn btn-blue btn-sm stretched-link {{ Item.getAction().CssClasses }}">{{ Item.getAction().Title|raw }}</a></div>
            {% endif %}
          </div>{% if Item.getNote() %}
        <div class="card-footer text-muted text-small py-2">{{ Item.getNote()|raw }}</div>{% endif %}
        </div>
      {% endfor %}
      </div>
