
      <h5 class="mb-3">{{ chart.title }}</h5>
      <p class="t-20 text-{{ chart.content.color }} lh-1 mb-3"><i class="{{ chart.content.icon }} mr-2"></i> {{ chart.content.text|raw }}</p>
      <small class="text-muted">{{ chart.updated }}</small>
