
{% macro recursivePrintConfig(param, itr) %}
  {% import _self as self %}
  {% set pl = itr * 0.6 %}
  {% set nxt = itr + 1 %}
  <tr id="config-item-{{ param.getId() }}" data-type="{{ param.getTypeName() }}" data-val="{{ param.getValueForUser() }}">
    <td><a name="{{ param.getId() }}-{{ param.getName() }}"></a>{{ param.getId() }}</td>
    <td>{% if param.getParent() %}<a class="parent-node-lead" href="#{{ param.getParent().getId() }}-{{ param.getParent().getName() }}" style="margin-left: {{pl}}rem">{{ param.getParent().getName() }}.</a>{% endif %}{{ param.getName() }}</td>
    <td>
      {{ param.getDescription() }}{% if param.childs()|length > 0 %}<br />
      <span class="parent-node-lead" style="font-size:80%;">
      Childs: {% for child in param.childs() %}{% if loop.index0 > 0 %}, {% endif %}<a class="parent-node-lead" href="#{{ child.getId() }}-{{ child.getName() }}">{{ child.getName() }}</a>{% endfor %}</span>
      {% endif %}
    </td>
    <td class="no-whitespace">{{ param.getTypeName() }}</td>
    <td>{{ param.getValueForUser()|raw }}</td>
    <td>{% if param.isEditable() %}<a href="#" class="config-edit-link" data-for="config-item-{{ param.getId() }}">edit</a>{% endif %}</td>
  </tr>
  {% for child in param.childs() %}
    {{ self.recursivePrintConfig(child, nxt) }}
  {% endfor %}
{% endmacro %}

{% from _self import recursivePrintConfig %}

    <div class="cmcontent-body row mb-4">
      <div class="col">
        <div class="card nowrap-hidden mb-4">
          <div class="card-body">
            <table class="table table-responsive w-100">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Value</th>
                <th>Action</th>
              </tr>
              {{ recursivePrintConfig(Config.Root, 0) }}
            </table>
          </div>
        </div>
      </div>
    </div>
