
    {% set today = "now"|date("dMY") %}

    <div class="cmcontent-body row mb-4">
      <div class="col">
        <div class="card nowrap-hidden mb-4">
          <div class="card-body">
            <table class="table table-responsive">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Scheduler</th>
                <th>Called func</th>
                <th>Last execution</th>
                <th>Actions</th>
              </tr>
              {% for cjob in Page.Cronjobs %}
                {% if cjob.isDisabled() == false %}
              <tr>
                <td>{{ cjob.getId() }}</td>
                <td>{{ cjob.getName() }}</td>
                <td>{{ cjob.getScheduler().getExpression() }}</td>
                <td>{{ cjob.getCommand() }}()</td>
                <td>
                {% if cjob.getLastSuccess() == false %}
                  <span class="text-bold text-danger">Failed</span>
                {% else %}
                  {% if cjob.getLastTime()|date('dMY') == today %}Today {{ cjob.getLastTime()|date('h:i a') }}{% else %}{{ cjob.getLastTime()|date('M d, Y') }}{% endif %}
                {% endif %}
                </td>
                <td>
                  <a href="#" class="config-edit-link" data-for="cronjob-item-{{ cjob.getId() }}">Edit scheduler</a>, <a href="/cronjobs/pause/{{ cjob.getId() }}" class="config-edit-link">Disable</a>
                </td>
              </tr>
                {% endif %}
              {% endfor %}
              {% for cjob in Page.Cronjobs %}
                {% if cjob.isDisabled() == true %}
              <tr>
                <td>{{ cjob.getId() }}</td>
                <td><span class="text-bold text-danger">Disabled</span>: {{ cjob.getName() }}</td>
                <td>{{ cjob.getScheduler().getExpression() }}</td>
                <td>{{ cjob.getCommand() }}()</td>
                <td>
                {% if cjob.getLastSuccess() == false %}
                  <span class="text-bold text-danger">Failed</span>
                {% else %}
                  {% if cjob.getLastTime()|date('dMY') == today %}Today {{ cjob.getLastTime()|date('h:i a') }}{% else %}{{ cjob.getLastTime()|date('M d, Y') }}{% endif %}
                {% endif %}
                </td>
                <td>
                  <a href="#" class="config-edit-link" data-for="cronjob-item-{{ cjob.getId() }}">Edit scheduler</a>,<a href="/cronjobs/resume/{{ cjob.getId() }}" class="config-edit-link">Enable</a>
                </td>
              </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
