    <div class="container">
      <form action="{{ Controller.getlink('recipe:postnew') }}" class="needs-validation" method="post" autocomplete="off" novalidate>
        <div class="row justify-content-between">
          <div class="col-12">
            <h4>{{ Controller.l('newRecipe_intro_header') }}</h4>
            <p>{{ Controller.l('newRecipe_intro_subject')|raw }}</p>
            <p>{{ Controller.l('newRecipe_intro_requiredFields')|raw }}</p>
          </div>
        </div>
        <div class="row mt-3 justify-content-between">
          <div class="col-12 col-lg-5">
            <h5>{{ Controller.l('newRecipe_chapter1_header') }}</h5>
          </div>
          <div class="d-none d-lg-block col-lg-6">
            <h5>{{ Controller.l('newRecipe_chapter3_header') }}</h5>
          </div>
        </div>
        <div class="row mt-2 justify-content-between">
          <div class="col-12 col-lg-5">
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-name" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeName') }} <span class="text-contrast">*</span></b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeNameDescription') }}</span>
                </label>
                <input class="form-control form-control-sm" type="text" id="recipe-name"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeNamePlaceholder') }}"
                  aria-describedby="recipe-name-invalidFeedback"
                  required>
                <div class="invalid-feedback" id="recipe-name-invalidFeedback">
                  {{ Controller.l('newRecipe_chapter1_recipeNameInvalidFb') }}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-description" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeDesc') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeDescDescription') }}</span>
                </label>
                <textarea class="form-control form-control-sm" id="recipe-description" style="height: 100px;"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeDescPlaceholder') }}"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-eater" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeEater') }} <span class="text-contrast">*</span></b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeEaterDescription') }}</span>
                </label>
                <input class="form-control form-control-sm w-20" type="number" min="1" max="100" id="recipe-eater"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeEaterPlaceholder') }}"
                  aria-describedby="recipe-eater-invalidFeedback"
                  required>
                <div class="invalid-feedback" id="recipe-eater-invalidFeedback">
                  {{ Controller.l('newRecipe_chapter1_recipeEaterInvalidFb') }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-block d-lg-none row mt-3">
              <div class="col-12">
                <h5>{{ Controller.l('newRecipe_chapter3_header') }}</h5>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-name" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter3_recipePictures') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter3_recipePicturesDescription')|raw }}</span>
                </label>
              </div>
              <div class="form-group col-12 overflow-x-scroll bg-light-dark h-100px rounded">
              </div>
              <div class="form-group col-12">
                <input class="form-control form-control-sm" type="text" id="recipe-sourcetext"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeSourceTextPlaceholder') }}">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <h5>{{ Controller.l('newRecipe_chapter2_header') }}</h5>
          </div>
        </div>
        <div class="row mt-2">

        </div>



        <div class="row mt-3">
          <div class="col-12">
            <h5>{{ Controller.l('newRecipe_chapter5_header') }}</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 col-lg-6">
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-sourcetext" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeSourceText') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeSourceTextDescription') }}</span>
                </label>
                <input class="form-control form-control-sm" type="text" id="recipe-sourcetext"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeSourceTextPlaceholder') }}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-sourceurl" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeSourceUrl') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeSourceUrlDescription') }}</span>
                </label>
                <input class="form-control form-control-sm" type="text" id="recipe-sourceurl"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeSourceUrlPlaceholder') }}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-tags" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeTags') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeTagsDescription') }}</span>
                </label>
                <select class="form-control form-control-sm selectpicker text-small"
                  data-live-search="true" data-size="10" multiple id="recipe-tags"
                  title="{{ Controller.l('newRecipe_chapter1_recipeTagsSelect') }}">{% for Tag in Tags %}
                  <option value="{{ Tag.getId() }}">{{ Tag.getName() }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
    </div>
