    <div class="container">
      <form action="{{ Controller.getlink('recipe:postnew') }}"
        class="needs-validation" method="post" autocomplete="off" novalidate
        enctype="multipart/form-data">
        <div class="row justify-content-between">
          <div class="col-12">
            <h4>{{ Controller.l('newRecipe_intro_header') }}</h4>
            <p>{{ Controller.l('newRecipe_intro_subject')|raw }}</p>
            <p>{{ Controller.l('newRecipe_intro_requiredFields')|raw }}</p>
          </div>
        </div>
        <div class="row mt-3 justify-content-between">
          <div class="col-12 col-lg-5">
            <h5>{{ Controller.l('newRecipe_chapter1_header') }}</h5>
          </div>
          <div class="d-none d-lg-block col-lg-6">
            <h5>{{ Controller.l('newRecipe_chapter3_header') }}</h5>
          </div>
        </div>
        <div class="row mt-2 justify-content-between">
          <div class="col-12 col-lg-5">
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-name" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeName') }} <span class="text-contrast">*</span></b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeNameDescription') }}</span>
                </label>
                <input class="form-control form-control-sm" type="text" id="recipe-name" name="name"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeNamePlaceholder') }}"
                  aria-describedby="recipe-name-invalidFeedback"
                  required>
                <div class="invalid-feedback" id="recipe-name-invalidFeedback">
                  {{ Controller.l('newRecipe_chapter1_recipeNameInvalidFb') }}
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-description" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeDesc') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeDescDescription') }}</span>
                </label>
                <textarea class="form-control form-control-sm h-100px" id="recipe-description" name="description"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeDescPlaceholder') }}"></textarea>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="recipe-eater" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeEater') }} <span class="text-contrast">*</span></b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeEaterDescription') }}</span>
                </label>
                <input class="form-control form-control-sm w-20" type="number" min="1" max="100" id="recipe-eater" name="eater"
                  value="{{ Controller.l('newRecipe_chapter1_recipeEaterPlaceholder') }}"
                  aria-describedby="recipe-eater-invalidFeedback"
                  required>
                <div class="invalid-feedback" id="recipe-eater-invalidFeedback">
                  {{ Controller.l('newRecipe_chapter1_recipeEaterInvalidFb') }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="d-block d-lg-none row mt-3">
              <div class="col-12">
                <h5>{{ Controller.l('newRecipe_chapter3_header') }}</h5>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
                <label for="image-upload-container" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter3_recipePictures') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter3_recipePicturesDescription')|raw }}</span>
                </label>
              </div>
              <div class="col-12 row row-cols-2 row-cols-lg-3 bg-light-muted rounded image-upload-container p-0" id="image-upload-container">
                <div class="d-none image-upload-item card h-200px" data-index="d" id="image-upload-dummy">
                  <img src="/pictures/placeholder-dot1px.png" class="card-img-top image-upload-picture" id="recipe-picture-d" style="object-fit: cover; height:163px!important;">
                  <div class="card-body p-0">
                    <button type="button" data-for="recipe-picture-uploader-d" data-index="d" id="image-upload-btn-dummy"
                      class="btn btn-blue btn-sm h-100 w-100 rounded-top-0 image-upload-btn">
                      <span class="span-upload">{{ Controller.l('newRecipe_chapter3_recipePicturesUpload')|raw }}</span>
                      <span class="span-delete d-none">{{ Controller.l('newRecipe_chapter3_recipePicturesRemove')|raw }}</span>
                    </button>
                    <input type="file" name="pictures[]" id="recipe-picture-uploader-d" value="Upload Photo"
                      class="image-upload-input" style="width: 0px;height: 0px;overflow: hidden;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-12 col-lg-6">
            <h5>{{ Controller.l('newRecipe_chapter2_header') }} <span class="text-contrast">*</span></h5>
            <p>{{ Controller.l('newRecipe_chapter2_description')|raw }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="list-group list-group-flush" id="ingredients-container">
              <div class="list-group-item">
                <div class="row">
                  <div class="col-4 col-lg-3 px-1 px-md-2">
                    <b class="ml-1">{{ Controller.l('newRecipe_chapter2_amount_header') }}</b>
                    <span class="ml-2 text-muted text-small text-nowrap">{{ Controller.l('newRecipe_chapter2_amount_placeholder') }}</span>
                  </div>
                  <div class="col-7 col-lg-8 px-1 px-md-2">
                    <b class="ml-1">{{ Controller.l('newRecipe_chapter2_ingredient_header') }} <span class="text-contrast">*</span></b>
                    <span class="ml-2 text-muted text-small text-nowrap">{{ Controller.l('newRecipe_chapter2_ingredient_placeholder') }}</span>
                  </div>
                </div>
              </div>
              <div class="list-group-item d-none" id="ingredient-dummy">
                <div class="row" id="ingredient-d" data-index="d">
                  <div class="col-4 col-lg-3 px-1 px-md-2">
                    <input type="text" class="form-control form-control-sm ingredient-amount"
                      name="ingredient_amount[]" id="ingredient-amount-d" data-index="d"
                      placeholder="{{ Controller.l('newRecipe_chapter2_amount_header') }}">
                  </div>
                  <div class="col-7 col-lg-8 px-1 px-md-2">
                    <input type="text" class="form-control form-control-sm ingredient-subject"
                      name="ingredient_description[]" id="ingredient-description-d" data-index="d"
                      placeholder="{{ Controller.l('newRecipe_chapter2_ingredient_header') }}">
                  </div>
                  <div class="col-1 px-0 px-md-2">
                    <button type="button" data-for="ingredient-d" data-index="d" id="ingredient-delete-d"
                      class="btn btn-blue btn-sm w-100 ingredient-delete"
                      title="{{ Controller.l('newRecipe_chapter2_delButton_title') }}">
                      {{ Config.Icons.Delete('fa-fw')|raw }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row" id="ingredient-0" data-index="0">
                  <div class="col-4 col-lg-3 px-1 px-md-2">
                    <input type="text" class="form-control form-control-sm"
                      name="ingredient_amount[]" id="ingredient-amount-0" data-index="0"
                      placeholder="{{ Controller.l('newRecipe_chapter2_amount_header') }}">
                  </div>
                  <div class="col-7 col-lg-8 px-1 px-md-2">
                    <input type="text" class="form-control form-control-sm"
                      name="ingredient_description[]" id="ingredient-description-0" data-index="0"
                      placeholder="{{ Controller.l('newRecipe_chapter2_ingredient_header') }}" required>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row" id="ingredient-add">
                  <div class="col-2 col-lg-1 px-0 px-md-2">
                    <button type="button" id="ingredient-add-button"
                      class="btn btn-blue btn-sm w-100 ingredient-add"
                      title="{{ Controller.l('newRecipe_chapter2_addButton_title') }}">
                      {{ Config.Icons.Add('fa-fw')|raw }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="row mt-3">
          <div class="col-12 col-lg-6">
            <h5>{{ Controller.l('newRecipe_chapter4_header') }} <span class="text-contrast">*</span></h5>
            <p>{{ Controller.l('newRecipe_chapter4_description')|raw }}</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="list-group list-group-flush" id="steps-container">
              <div class="list-group-item d-none" id="step-dummy">
                <div class="form-group row">
                  <label for="step-title-d" class="col-form-label-sm col-12 col-lg-3 step-title-label">
                    <b>{{ Controller.l('newRecipe_chapter4_step_title_description') }}</b>
                  </label>
                  <div class="col-12 col-lg-8">
                    <input class="form-control form-control-sm step-title-input" id="step-title-d" name="step_title[]"
                      placeholder="{{ Controller.l('newRecipe_chapter4_step_title_placeholder') }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="step-description-d" class="col-form-label-sm col-12 col-lg-3 step-desc-label">
                    <b>{{ Controller.l('newRecipe_chapter4_step_preparation_description') }}</b>
                  </label>
                  <div class="col-12 col-lg-8">
                    <textarea class="form-control form-control-sm h-100px step-description-input" id="step-description-d" name="step_description[]"
                      placeholder="{{ Controller.l('newRecipe_chapter4_step_preparation_placeholder') }}"></textarea>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="form-group row">
                  <label for="step-title-0" class="col-form-label-sm col-12 col-lg-3">
                    <b>{{ Controller.l('newRecipe_chapter4_step_title_description') }}</b>
                  </label>
                  <div class="col-12 col-lg-8">
                    <input class="form-control form-control-sm" id="step-title-0" name="step_title[]"
                      placeholder="{{ Controller.l('newRecipe_chapter4_step_title_placeholder') }}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="step-description-0" class="col-form-label-sm col-12 col-lg-3">
                    <b>{{ Controller.l('newRecipe_chapter4_step_preparation_description') }} <span class="text-contrast">*</span></b>
                  </label>
                  <div class="col-12 col-lg-8">
                    <textarea class="form-control form-control-sm h-100px" id="step-description-0" name="step_description[]"
                      placeholder="{{ Controller.l('newRecipe_chapter4_step_preparation_placeholder') }}" required
                      aria-describedby="step-0-invalidFeedback"></textarea>
                      <div class="invalid-feedback" id="step-0-invalidFeedback">
                        {{ Controller.l('newRecipe_chapter4_step_preparation_invalidFeedback') }}
                      </div>
                  </div>
                </div>
              </div>
              <div class="list-group-item">
                <div class="row" id="step-add">
                  <div class="col-2 col-lg-1 px-0 px-md-2">
                    <button type="button" id="step-add-button"
                      class="btn btn-blue btn-sm w-100 step-add"
                      title="{{ Controller.l('newRecipe_chapter4_addButton_title') }}">
                      {{ Config.Icons.Add('fa-fw')|raw }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row mt-3">
          <div class="col-12">
            <h5>{{ Controller.l('newRecipe_chapter5_header') }}</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <div class="form-row">
              <div class="form-group col-12 col-lg-6">
                <label for="recipe-sourcetext" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeSourceText') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeSourceTextDescription') }}</span>
                </label>
                <input class="form-control form-control-sm" type="text" id="recipe-sourcetext" name="sourceText"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeSourceTextPlaceholder') }}">
              </div>
              <div class="form-group col-12 col-lg-6">
                <label for="recipe-sourceurl" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeSourceUrl') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeSourceUrlDescription') }}</span>
                </label>
                <input class="form-control form-control-sm" type="url" id="recipe-sourceurl" name="sourceUrl"
                  placeholder="{{ Controller.l('newRecipe_chapter1_recipeSourceUrlPlaceholder') }}">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12 col-lg-6">
                <label for="recipe-tags" class="col-form-label-sm">
                  <b>{{ Controller.l('newRecipe_chapter1_recipeTags') }}</b><br />
                  <span class="text-muted text-small">{{ Controller.l('newRecipe_chapter1_recipeTagsDescription') }}</span>
                </label>
                <select class="form-control form-select2 form-control-sm text-small" name="tags[]"
                   multiple id="recipe-tags"
                  title="{{ Controller.l('newRecipe_chapter1_recipeTagsSelect') }}">{% for Tag in Tags %}
                  <option value="{{ Tag.getId() }}">{{ Tag.getName() }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
    </div>
