          <div class="mt-3 mt-lg-0">
            <h4>{{Controller.l('recipe_about_header')}}</h4>
            <p>{% if Recipe.isPublished() %}{% if Recipe.getUserId != null %}
              {{ Controller.l('recipe_about_publication', Recipe.getPublishedDateStr(), Recipe.getUser().getFirstname()) }}{% else %}
              {{ Controller.l('recipe_about_publicationAnonymous', Recipe.getPublishedDateStr()) }}{% endif %}
            {% else %}{{ Controller.l('recipe_about_unpublished', Recipe.getCreationDateStr()) }}
            {% endif %}</p>{% if Page.Gallery == null %}
            <p class="mb-1">{% for Tag in Recipe.getTags() %}
              <a class="btn btn-outline-blue btn-sm" href="{{ Controller.getLink('tag:show', Tag.getId(), Tag.getName()) }}">
                {{ Tag.getName() }}
                <span class="badge ml-1">{{ Recipe.getTagVotes()[Tag.getId()] }} {{ Config.Icons.Favorite.getIcon('')|raw }}</span>
              </a>
            {% endfor %}</p>{% endif %}{% if Recipe.getVotedCount() > 0 %}
            <p class="mb-1">
              <span class="font-weight-bold mr-3">Bewertung:</span>
              <span>{% for i in 1..5 %}{% if Recipe.getVoting() >= i %}
                {{ Config.Icons.Star('text-success')|raw }}{% else %}
                {{ Config.Icons.Star('text-blue')|raw }}{% endif %}{% endfor %}
                <span class="ml-3">{{ Recipe.getVotingStr() }} bei {{ Recipe.getVotedCountStr() }} Bewertungen</span>
              </span>
            </p>{% endif %}{% if Recipe.getRatedCount() > 0 %}
            <p class="mb-1">
              <span class="font-weight-bold mr-3">Schwierigkeit:</span>
              <span>{{ Recipe.getRatingStr() }}</span>
            </p>{% endif %}{% if Recipe.getSourceDescription() != '' or Recipe.getSourceUrl() != '' %}
            <p class="mb-1">
              <span class="font-weight-bold mr-3">{{ Controller.l('recipe_about_source') }}:</span> {% if Recipe.getSourceDescription() != '' and Recipe.getSourceUrl() != '' %}
              <a target="_blank" href="{{ Recipe.getSourceUrl() }}">{{ Recipe.getSourceDescription() }}</a>{% elseif Recipe.getSourceDescription() != '' %}
              {{ Recipe.getSourceDescription() }}{% else %}
              <a target="_blank" href="{{ Recipe.getSourceUrl() }}">{{ Recipe.getSourceUrl() }}</a>{% endif %}
            </p>{% endif %}
          </div>
