          {% if Recipe.getUserId() != Controller.User.getId() %}<div class="mt-3 d-none d-lg-block">
            <h5>{{ Controller.l('recipe_rate_header') }}</h5>{% if MyVote == false %}
            <p class="text-small text-muted">{{ Controller.l('recipe_rate_subject') }}</p>
            <button class="btn btn-blue btn-sm" id="recipe-rate-button">
              {{ Config.Icons.Star('fa-fw mr-2', null, 'recipe-rate-icon')|raw }}
              {{ Controller.l('recipe_rate_button') }}
            </button>{% else %}
            <p class="text-small text-muted">{{ Controller.l('recipe_rate_voted_subject') }}</p>
            {% endif %}
          </div>{% endif %}
