          {% if Recipe.getUserId() == Controller.User.getId() %}<div class="mt-3">
            <h5>{{Controller.l('recipe_options_header')}}</h5>
            <div class="container">
              <div class="row">
                <div class="col-12 my-1">
                {% if Recipe.isPublished() %}
                  <a href="{{ Controller.getLink('recipe:unpublish', Recipe.getId(), Recipe.getName()) }}">
                    {{ Config.Icons.Lock('fa-fw mr-2')|raw }}
                    {{ Controller.l('recipe_options_publication_unpublish') }}
                  </a>
                {% else %}
                  <a href="{{ Controller.getLink('recipe:publish', Recipe.getId(), Recipe.getName()) }}">
                    {{ Config.Icons.Unlock('fa-fw mr-2')|raw }}
                    {{ Controller.l('recipe_options_publication_publish') }}
                  </a>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <h5>{{Controller.l('recipe_stats_header')}}</h5>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  {{ Config.Icons.View('fa-fw mr-2')|raw }}
                  {{ Recipe.getViewedCountStr() }}{{ Controller.l('recipe_stats_views_times')|raw }}
                </div>
                <div class="col-12">
                  {{ Config.Icons.Meal('fa-fw mr-2')|raw }}
                  {{ Recipe.getCookedCountStr() }}{{ Controller.l('recipe_stats_cooked_times')|raw }}
                </div>
              </div>
            </div>
          </div>{% endif %}
