    <nav class="navbar fixed-bottom d-fixed d-md-none nav-recipe-sm">
      <div class="d-flex w-100">{% if Page.Gallery %}
        <div class="w-50 text-center">
          <span class="btn btn-blue btn-sm scroll-to px-2" data-target="gallery-anchor">
            {{ Config.Icons.Gallery('mr-1 text-small')|raw }}
            {{ Controller.l('recipe_footer_gallery') }}
          </span>
        </div>{% endif %}
        <div class="w-50 text-center">
          <span class="btn btn-blue btn-sm scroll-to px-2" data-target="ingredients-anchor">
            {{ Config.Icons.Ingredient('mr-1 text-small')|raw }}
            {{ Controller.l('recipe_footer_ingredients') }}
          </span>
        </div>
        <div class="w-50 text-center">
          <span class="btn btn-blue btn-sm scroll-to px-2" data-target="steps-anchor">
            {{ Config.Icons.Start('mr-1 text-small')|raw }}
            {{ Controller.l('recipe_footer_steps') }}
          </span>
        </div>
      </div>
    </nav>
