          <div class="mt-3">
            <h4>{{Controller.l('recipe_cookingSteps_header')}}</h4>
            {% for Step in Recipe.getSteps() %}
              <div>
                {% if Recipe.getStepsCount() > 1 or Step.getTitle() != '' %}
              <h5>{{ Step.getStepNo() }}. {% if Step.getTitle() != '' %}{{ Step.getTitle() }}{% else %}{{Controller.l('recipe_cookingSteps_placeholder')}}{% endif %}</h5>
                {% endif %}
                <p>{{ Step.getHtmlContent()|raw }}</p>
              </div>
            {% endfor %}
          </div>
