
    {% set today = "now"|date("dMY") %}

    <div class="cmcontent-body row mb-4">
        {% for Case in Page.Cases %}
          {% if Case.isClosed == false %}
      <div class="col-12 col-lg-6 col-xl-4 p-2">
        <div class="card nowrap-hidden">
          <div class="card-header pointer islink" data-href="/case/{{ Case.getId() }}-{{ Case.getName()|url_encode }}">
            <h4 class="card-title" style="margin-bottom:0!important;">{{ Case.getIcon('mr-1 mr-md-2')|raw }}{{ Case.getName() }}</h4>
          </div>
          <div class="card-body">{{ Case.getDescription() }}</div>
          <ul class="list-group list-group-flush">
          {% for Cat in Case.getCategories() %}
            <li class="list-group-item pointer islink" data-href="/case-category/{{ Cat.getId() }}-{{ Cat.getName()|url_encode }}">{{ loop.index }} - <b>{{ Cat.getName() }}</b> with
            {% if Cat.getContractCount() == 0 %}no data{% else %} <b>{{ Cat.getContractCount() }}</b> contract{% if Cat.getContractCount() > 1 %}s{% endif %} and <b>{{ Cat.getDocumentCount() }}</b> document{% if Cat.getDocumentCount() > 1 %}s{% endif %}</li>{% endif %}
          {% endfor %}
          </ul>
          <div class="card-footer text-muted">
            Set up by <a class="user-tag" href="/user/{{ Case.getCreator().getKey() }}">@{{ Case.getCreator().getKey() }}</a> on {{Case.getOpenDate().format('l, jS \\of M Y')}}
          </div>
        </div>
      </div>
          {% endif %}
        {% endfor %}
    </div>
