
    <header class="navbar sticky-top navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand mr-0 mr-md-2" href="/">{{ Config.PageHeader }}</a>
      <i class="fas fa-circle-notch text-light fa-spin"
        v-if="page.loading !== false"></i>
      <span class="small text-light"
        v-if="page.loading === false && user.isAdmin">${ page.loadingTime}</span>
      <div
        v-if="user.loggedIn === false && config.maintenanceEnabled === false">
        <ul class="navbar-nav flex-row">
          <li class="nav-item text-uppercase">
            <a class="nav-link" href="/login">{{ Controller.l('navigation_topbar_user_login') }}</a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav ml-md-auto d-none d-md-flex"
        v-if="user.loggedIn">
        <li class="nav-item d-none d-md-inline-block mr-5">
          <input class="form-control form-control-sm mt-2 bg-dark text-light border-top-0 border-left-0 border-right-0 rounded-0 border-light"
            type="search" placeholder="{{ Controller.l('navigation_topbar_search_placeholder') }}" aria-label="{{ Controller.l('navigation_topbar_search_placeholder') }}">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b-avatar rounded :src="user.avatar.url" :text="user.meta.initials" :size="24" class="mr-1 bg-blue"></b-avatar> ${ user.meta.un }
          </a>
          <div class="dropdown-menu dropdown-menu-right small p-1" aria-labelledby="navbarDropdown">
            <router-link class="dropdown-item" :to="{ name: 'settings'}">{{ Controller.l('navigation_topbar_user_settings') }}</router-link>
            <div class="dropdown-divider"></div>
            <router-link class="dropdown-item" to="/logout">{{ Controller.l('navigation_topbar_user_logout') }}</router-link>
          </div>
        </li>
      </ul>
    </header>
