        <div class="nav-sidebar" v-if="user.loggedIn">
          <div class="nav-sidebar-inner-scroll">
            <ul class="nav-sidebar-level1">
              <li>
                <router-link :to="{ name: 'home'}">
                  {{ Config.Icons.Home('fa-fw mr-2')|raw }} {{ Controller.l('page_home_title') }}
                </router-link>
              </li>
              <li
                v-if="$route.matched.some(({ name }) => name === 'recipe')">
                <router-link :to="{ name: 'recipe', params: { id: page.currentRecipe.id, name: page.currentRecipe.title }}">
                  {{ Config.Icons.Meal('fa-fw mr-2')|raw }} ${ page.currentRecipe.title }
                </router-link>
                <ul class="nav-sidebar-level2"
                  v-if="page.currentRecipe.owner === user.id">
                  <li><router-link :to="{ name: 'editRecipe', params: { id: page.currentRecipe.id, name: page.currentRecipe.title }}">
                    {{ Config.Icons.Meal('fa-fw mr-2')|raw }} ${ page.currentRecipe.title }
                  </router-link></li>
                </ul>
              </li>
              <li>
                <router-link :to="{ name: 'newRecipe'}">
                  {{ Config.Icons.Add('fa-fw mr-2')|raw }} {{ Controller.l('page_createRecipe') }}
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'search'}">
                  {{ Config.Icons.Search('fa-fw mr-2')|raw }} {{ Controller.l('page_search_sidebar_title') }}
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'recipes'}">
                  {{ Config.Icons.Copy('fa-fw mr-2')|raw }} {{ Controller.l('page_myrecipes_title') }}
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'random'}">
                  {{ Config.Icons.Random('fa-fw mr-2')|raw }} {{ Controller.l('page_random') }}
                </router-link>
              </li>
              <li
                v-if="user.isAdmin">
                <router-link :to="{ name: 'admin'}">
                  {{ Config.Icons.Settings('fa-fw mr-2')|raw }} {{ Controller.l('page_admin_title') }}
                </router-link>
                <ul class="nav-sidebar-level2"
                  v-if="$route.matched.some(({ name }) => name === 'admin')">
                  <li><router-link :to="{ name: 'cronjobs'}">{{ Config.Icons.Cronjob('fa-fw mr-2')|raw }} Cronjobs</router-link></li>
                  <li><router-link :to="{ name: 'translations'}">{{ Config.Icons.Language('fa-fw mr-2')|raw }} Übersetzung</router-link></li>
                  <li><router-link :to="{ name: 'logs'}">{{ Config.Icons.Logs('fa-fw mr-2')|raw }} Server-Logs</router-link></li>
                  <li><router-link :to="{ name: 'users'}">{{ Config.Icons.Users('fa-fw mr-2')|raw }} User</router-link></li>
                </ul>
              </li>
              <a class="sidebar-toggle-nav" role="button" type="button" href="#">
                {{ Config.Icons.DoubleAngleRight.getIcon('fa-fw mr-2 sidebar-toggle-icon-open')|raw }}
                {{ Config.Icons.DoubleAngleLeft.getIcon('fa-fw mr-2 sidebar-toggle-icon-close')|raw }}
                <span class="toggle-text">Ausblenden</span>
              </a>
            </ul>
          </div>
        </div>
