        <div class="nav-sidebar" v-if="user.loggedIn">
          <div class="nav-sidebar-inner-scroll">
            <div class="nav-sidebar-header">
              <a href="{{ Controller.getLink('private:home') }}">
                <img class="avatar avatar-40" src="{{ Controller.User().getAvatarUrl() }}" />
                <div class="nav-sidebar-hideable">{{ Controller.User().getFirstname() }}</div>
              </a>
            </div>
            <ul class="nav-sidebar-level1">
              <li{% if Page.Current == 'private:home' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:home') }}">
                  {{ Config.Icons.Home('fa-fw mr-2')|raw }} {{ Controller.l('page_home_title') }}
                </a>
              </li>
              <li{% if Page.Current == 'recipe:new' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('recipe:new') }}">
                  {{ Config.Icons.Add('fa-fw mr-2')|raw }} {{ Controller.l('page_createRecipe') }}
                </a>
              </li>
              <li{% if Page.Current == 'private:books' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:books') }}">
                  {{ Config.Icons.Books('fa-fw mr-2')|raw }} {{ Controller.l('page_books_allbooks_title') }}
                </a>
              </li>
              <li{% if Page.Current == 'private:recipes' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:recipes') }}">
                  {{ Config.Icons.Copy('fa-fw mr-2')|raw }} {{ Controller.l('page_myrecipes_title') }}
                </a>
              </li>
              <li{% if Page.Current == 'private:search' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('private:search') }}">
                  {{ Config.Icons.Search('fa-fw mr-2')|raw }} {{ Controller.l('page_search_sidebar_title') }}
                </a>
              </li>
              <li>
                <a href="{{ Controller.getLink('private:random') }}">
                  {{ Config.Icons.Random('fa-fw mr-2')|raw }} {{ Controller.l('page_random') }}
                </a>
              </li>
              <li
                v-if="user.isAdmin"
                {% if Page.Current == 'admin:main' %} class="active"{% endif %}>
                <a href="{{ Controller.getLink('admin:main') }}">
                {{ Config.Icons.Settings('fa-fw mr-2')|raw }} {{ Controller.l('page_admin_title') }}
                </a>
                {% if Page.Current == 'admin:main' %}
                <ul class="nav-sidebar-level2">
                  <li{% if Page.CurrentSub == 'admin:main' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:main') }}">Dashboard</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:cronjobs' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:cronjobs') }}">Cronjobs</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:settings' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:settings') }}">Konfiguration</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:translation' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:translation') }}">Übersetzung</a>
                  </li>
                  <li{% if Page.CurrentSub == 'admin:logs' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:logs') }}">Server-Logs</a>
                  </li>
                <li{% if Page.CurrentSub == 'admin:users' %} class="active"{% endif %}>
                    <a href="{{ Controller.getLink('admin:users') }}">User</a>
                  </li>
                </ul>
                {% endif %}
              </li>
              <a class="sidebar-toggle-nav" role="button" type="button" href="#">
                {{ Config.Icons.DoubleAngleRight.getIcon('fa-fw mr-2 sidebar-toggle-icon-open')|raw }}
                {{ Config.Icons.DoubleAngleLeft.getIcon('fa-fw mr-2 sidebar-toggle-icon-close')|raw }}
                <span class="toggle-text">Ausblenden</span>
              </a>
            </ul>
          </div>
        </div>
