
    <template id="home-template">
      <b-container>
        <b-row>
          <b-col cols="12" lg="7">
            <h2>{{ Controller.l('greetings_hello', Controller.User().getUsername()) }}</h2>
            <p>
              {{ Controller.l('home_greeting_description1') }}
              {{ Controller.l('home_greeting_description2') }}
              <router-link :to="{ name: 'random' }">
                <fa-icon
                  :icon="page.iconSet.random.icon" :space="page.iconSet.random.space"
                  class="mx-1"></fa-icon>
                {{ Controller.l('breadcrumb_random') }}.
              </router-link>
            </p>
          </b-col>
        </b-row>
        <b-row class="mt-2">
          <b-col cols="12" lg="7">
            <p>
              {{ Controller.l('home_inprogress_workingon') }}
              <span class="d-inline-block d-lg-none">
                {{ Controller.l('home_inprogress_mobile1') }}
                <fa-icon
                  :icon="page.iconSet.menu.icon" :space="page.iconSet.menu.space"
                  class="mx-1"></fa-icon>
                {{ Controller.l('home_inprogress_mobile2') }}
              </span>
            </p>
          </b-col>
        </b-row>
      </b-container>
    </template>
