
            <form>
              <div class="form-row">
                <div class="col-12 col-lg-5 form-group">
                  <label for="file-filename">Dateiname</label>
                  <div class="input-group-text text-left text-truncate" id="file-filename">{{ Page.File.getName() }}</div>
                </div>
                <div class="col-12 col-lg-7 form-group">
                  <label for="file-filepath">Pfad im Dateisystem</label>
                  <div class="input-group-text text-left text-truncate" id="file-filepath">{{ Page.File.getDirname() }}</div>
                </div>
              </div>
              {% if Page.File.hasDocument() %}
              <div class="form-row">
                <div class="col-12 col-lg-5 form-group">
                  <label for="file-filename">Klassifizierung</label>
                  <div class="input-group-text text-left text-truncate" id="doc-name">{{ Page.File.getDocument().getType().getLink()|raw }}</div>
                </div>
                <div class="col-12 col-lg-7 form-group">
                  <label for="file-filepath">Dokumentbezeichnung</label>
                  <div class="input-group-text text-left text-truncate" id="doc-title">{{ Page.File.getDocument().getTitle() }}</div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group">
                  <label for="file-filepath">Eingruppierung</label>
                  <div class="input-group-text text-left text-truncate" id="doc-path">{{ Page.File.getDocument().getCategory().getCategoryPath()|join(' - ')|raw }}</div>
                </div>
              </div>
              {% endif %}
              <div class="form-row">
                <div class="col-8 form-group">
                  <label for="file-view-filetype">Dateityp</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Page.File.getExtObject().getIcon('')|raw }}</div>
                    </div>
                    <input type="text" class="form-control" readonly id="file-view-filetype" value="{{ Page.File.getExtObject().getMimeType() }}">
                  </div>
                </div>
                <div class="col-4 form-group">
                  <label for="file-view-filesize">Dateigröße</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.FileSize.getIcon('')|raw }}</div>
                    </div>
                    <input type="text" readonly class="form-control" id="file-view-filesize" value="{{ Page.File.getReadableSize() }}">
                  </div>
                </div>
              </div>
            </form>
