
            <form class="needs-validation" novalidate id="form-file-sendmail" action="/" data-fileid="{{ Page.File.getId() }}">
              <div class="form-row">
                <div class="col-12 form-group mb-1">
                  <label for="file-send-to">Empfänger</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><strong>to</strong></div>
                    </div>
                    <input type="email" class="form-control" id="file-send-to" name="file-send-to" placeholder="receipient@mail.cc" required multiple />
                    <div class="input-group-append pointer file-send-abookselector" data-for="file-send-to" title="Einträge aus dem Adressbuch wählen.">
                      <div class="input-group-text"><strong>{{ Config.Icons.Contacts.getIcon('mx-1')|raw }} Adressbuch</strong></div>
                    </div>
                    <div class="invalid-tooltip">
                      Bitte eine oder mehrere E-Mail-Adressen in gültiger Mail-Notation angeben (Komma-getrennt).
                    </div>
                  </div>
                </div>
                <div class="col-12 form-group mb-2 mb-md-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><strong>cc</strong></div>
                    </div>
                    <input type="email" class="form-control" id="file-send-cc" name="file-send-cc" placeholder="copy_to@mail.cc" />
                    <div class="input-group-append pointer file-send-abookselector" data-for="file-send-cc" title="Einträge aus dem Adressbuch wählen.">
                      <div class="input-group-text"><strong>{{ Config.Icons.Contacts.getIcon('mx-1')|raw }} Adressbuch</strong></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group mb-1">
                  <label for="file-send-to">Dateiname</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.Add.getIcon('fa-fw')|raw }}</div>
                    </div>
                    <input type="text" class="form-control" id="file-send-filename" name="file-send-filename" value="{{ Page.File.getName() }}" placeholder="Dateiname für den Anhang" required />
                    <div class="invalid-tooltip">
                      Bitte einen Dateinamen angeben.
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-7 form-group mb-1">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Page.File.getExtObject().getIcon('fa-fw')|raw }}</div>
                    </div>
                    <input type="text" class="form-control" readonly id="file-view-filetype" value="{{ Page.File.getExtObject().getMimeType() }}">
                  </div>
                </div>
                <div class="col-12 col-md-5 form-group mb-2 mb-md-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.FileSize.getIcon('fa-fw')|raw }}</div>
                    </div>
                    <input type="text" readonly class="form-control" id="file-view-filesize" value="{{ Page.File.getReadableSize() }}">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group mb-1">
                  <label for="file-send-to">Betreff</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><strong>subject</strong></div>
                    </div>
                    <input type="text" class="form-control" id="file-send-subject" name="file-send-subject" placeholder="E-Mail-Betreff" required />
                    <div class="invalid-tooltip">
                      Bitte einen Betrefftext angeben.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group mb-1">
                  <label for="file-send-to">E-Mail-Nachricht</label>
                  <div class="input-group">
                    <textarea id="file-send-content" style="width:100%; height: 120px;" name="file-send-content" placeholder="Schreibe ein paar nette Worte für den Empfänger." required></textarea>
                    <div class="invalid-tooltip">
                      Bitte schreibe etwas in das Textfeld.
                    </div>
                  </div>
                </div>
              </div>
              {{ Config.Icons.Spinner.getIcon('mr-1 fa-fw fa-spin d-none', '', 'file-sendmail-spinner')|raw }} <input type="submit" class="btn btn-success" id="file-sendmail-submit" />
            </form>

            <div class="modal fade" id="abookselector-modal" tabindex="-1" role="dialog" aria-labelledby="Addressbook selector modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="abookselector-modal-title">{{ Config.Icons.Contacts.getIcon('mx-1')|raw }} Empfänger aus Addressbuch wählen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body d-none py-1" id="abookselector-modal-pagination">
                    <ul class="pagination small d-none my-1" id="abookselector-pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" id="abookselector-pagination-previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" id="abookselector-pagination-next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="modal-body d-none" id="abookselector-modal-addresses">
                    <ul class="list-group list-group-flush" id="abookselector-modal-address-list">
                    </ul>
                  </div>
                  <div class="modal-body bg-danger text-light d-none" id="abookselector-modal-error">
                    <p>{{ Config.Icons.Exclamation.getIcon('fa-fw mr-1')|raw }} Fehler beim Abrufen des Addressbuchs.</p>
                    <p><span id="abookselector-modal-error-code">0</span>: <span id="abookselector-modal-error-message"></span></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Schließen</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="sendmail-modal-success" tabindex="-1" role="dialog" aria-labelledby="Mail successfull sent modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border border-success">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ Config.Icons.Contractor.getIcon('mr-1 text-success')|raw }} E-Mail erfogreich versendet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Die E-Mail wurde an den Mailserver übergeben und wird nun den Empfängern zugestellt.</p>
                    <p>Weiterleitung zur Dokumentenseite...</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="sendmail-modal-failed" tabindex="-1" role="dialog" aria-labelledby="Send mail failed modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border border-danger">
                  <div class="modal-header">
                    <h5 class="modal-title">{{ Config.Icons.Exclamation.getIcon('mr-1 text-danger')|raw }} E-Mail-Versand fehlgeschlagen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Die E-Mail konnte nicht gesendet werden. Folgende Fehlermeldung wurde vom Server zurückgegeben: </p>
                    <p><span class="bold" id="sendmail-modal-errorcode"></span>: <span id="sendmail-modal-errormessage"></span></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Abbruch</button>
                  </div>
                </div>
              </div>
            </div>
