
    <div class="container-fluid ">
      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="px-2 pl-xl-5 pb-3 pt-lg-4">
            <form>
              <div class="form-row">
                <div class="col-12 form-group">
                  <label for="file-view-filename">Dateiname</label>
                  <input type="text" class="form-control" readonly id="file-view-filename" name="fileview_filename" placeholder="Dateiname" value="{{ Page.File.getName() }}">
                </div>
                <div class="col-5 form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Page.File.getExtObject().getIcon('')|raw }}</div>
                    </div>
                    <input type="text" class="form-control" readonly id="file-view-filetype" value="{{ Page.File.getExtObject().getMimeType() }}">
                  </div>
                </div>
                <div class="col-4 form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.FileSize.getIcon('')|raw }}</div>
                    </div>
                    <input type="text" readonly class="form-control" id="file-view-filesize" value="{{ Page.File.getReadableSize() }}">
                  </div>
                </div>
                <div class="col-3 form-group">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.Copy.getIcon('')|raw }}</div>
                    </div>
                    <input type="text" readonly class="form-control" id="file-view-pages" value="{{ Page.File.getPageCount() }} Seite{% if Page.File.getPageCount() != 1 %}n{% endif %}">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group mb-2">
                  <label for="file-view-ocr-group1">OCR-Lesung ausführen</label>
                  <div class="input-group" id="file-view-ocr-group1">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        {% if Page.File.getOcrImageCache_CompleteState('jpg') != 100 %}
                        {{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-view-ocr-jpg-unchecked-icon')|raw }}{{ Config.Icons.Checked.getIcon('fa-fw mr-1 d-none', '', 'file-view-ocr-jpg-checked-icon')|raw }}
                        {% else %}
                        {{ Config.Icons.Unchecked.getIcon('fa-fw mr-1 d-none', '', 'file-view-ocr-jpg-unchecked-icon')|raw }}{{ Config.Icons.Checked.getIcon('fa-fw mr-1', '', 'file-view-ocr-jpg-checked-icon')|raw }}
                        {% endif %}
                      </div>
                      <div class="input-group-text font-weight-bold">1.</div>
                    </div>
                    <input type="text" readonly class="form-control" value="JPG images erzeugt">
                    <div class="input-group-append">
                      <div class="input-group-text"><span class="d-none d-md-inline"><span class="mr-1" id="file-view-ocr-jpg-filecount">{{ Page.File.getOcrImageCache_FileCount('jpg') }}</span> / </span><span class="ml-1" id="file-view-ocr-jpg-bytecount">{{ Page.File.getOcrImageCache_ByteCount('jpg') }}</span></div>
                      <div class="input-group-text font-weight-bold"><span class="mr-1" id="file-view-ocr-jpg-relative">{{ Page.File.getOcrImageCache_CompleteState('jpg') }}</span> %</div>
                      <div class="input-group-text font-weight-bold pointer file-view-create" data-object="jpg">{{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'file-view-ocr-jpg-spinner-icon')|raw }}{{ Config.Icons.Start.getIcon('fa-fw', '', 'file-view-ocr-jpg-runner-icon')|raw }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 form-group mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        {% if Page.File.getOcrImageCache_CompleteState('tif') != 100 %}
                        {{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-view-ocr-Tif-unchecked-icon')|raw }}{{ Config.Icons.Checked.getIcon('fa-fw mr-1 d-none', '', 'file-view-ocr-Tif-checked-icon')|raw }}
                        {% else %}
                        {{ Config.Icons.Unchecked.getIcon('fa-fw mr-1 d-none', '', 'file-view-ocr-Tif-unchecked-icon')|raw }}{{ Config.Icons.Checked.getIcon('fa-fw mr-1', '', 'file-view-ocr-Tif-checked-icon')|raw }}
                        {% endif %}
                      </div>
                      <div class="input-group-text font-weight-bold">2.</div>
                    </div>
                    <input type="text" readonly class="form-control" value="TIF images erzeugt">
                    <div class="input-group-append">
                      <div class="input-group-text"><span class="d-none d-md-inline"><span class="mr-1" id="file-view-ocr-Tif-filecount">{{ Page.File.getOcrImageCache_FileCount('tif') }}</span> / </span><span class="ml-1" id="file-view-ocr-Tif-bytecount">{{ Page.File.getOcrImageCache_ByteCount('tif') }}</span></div>
                      <div class="input-group-text font-weight-bold"><span class="mr-1" id="file-view-ocr-Tif-relative">{{ Page.File.getOcrImageCache_CompleteState('tif') }}</span> %</div>
                      <div class="input-group-text font-weight-bold pointer file-view-create" data-object="Tif">{{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'file-view-ocr-Tif-spinner-icon')|raw }}{{ Config.Icons.Start.getIcon('fa-fw', '', 'file-view-ocr-Tif-runner-icon')|raw }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        {% if Page.File.getOcrImageCache_CompleteState('ocr') != 100 %}
                        {{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-view-ocr-Ocr-unchecked-icon')|raw }}{{ Config.Icons.Checked.getIcon('fa-fw mr-1 d-none', '', 'file-view-ocr-Ocr-checked-icon')|raw }}
                        {% else %}
                        {{ Config.Icons.Unchecked.getIcon('fa-fw mr-1 d-none', '', 'file-view-ocr-Ocr-unchecked-icon')|raw }}{{ Config.Icons.Checked.getIcon('fa-fw mr-1', '', 'file-view-ocr-Ocr-checked-icon')|raw }}
                        {% endif %}
                      </div>
                      <div class="input-group-text font-weight-bold">3.</div>
                    </div>
                    <input type="text" readonly class="form-control" value="OCR text erzeugt">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="d-none d-md-inline">
                          <span class="mr-1" id="file-view-ocr-Ocr-filecount">{{ Page.File.getOcrImageCache_FileCount('ocr') }}</span> /
                        </span>
                        <span class="ml-1" id="file-view-ocr-Ocr-bytecount">{{ Page.File.getOcrImageCache_ByteCount('ocr') }}</span>
                      </div>
                      <div class="input-group-text font-weight-bold">
                        <span class="mr-1" id="file-view-ocr-Ocr-relative">{{ Page.File.getOcrImageCache_CompleteState('ocr') }}</span> %
                      </div>
                      <div class="input-group-text font-weight-bold pointer file-view-create" data-object="Ocr">{{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'file-view-ocr-Ocr-spinner-icon')|raw }}{{ Config.Icons.Start.getIcon('fa-fw', '', 'file-view-ocr-Ocr-runner-icon')|raw }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group mb-2">
                  <label for="file-view-ocr-group2">Optional: OCR-Ergebnis verwerfen</label>
                  <div class="input-group" id="file-view-ocr-group2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1')|raw }}</div>
                      <div class="input-group-text font-weight-bold">a.</div>
                    </div>
                    <input type="text" readonly class="form-control" value="Alle Bilder löschen">
                    <div class="input-group-append">
                      <div class="input-group-text font-weight-bold pointer file-view-create" data-object="del-images" data-delete="1">{{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'file-view-ocr-del-images-spinner-icon')|raw }}{{ Config.Icons.Start.getIcon('fa-fw', '', 'file-view-ocr-del-images-runner-icon')|raw }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 form-group mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1')|raw }}</div>
                      <div class="input-group-text font-weight-bold">b.</div>
                    </div>
                    <input type="text" readonly class="form-control" value="OCR-Ergebnis löschen">
                    <div class="input-group-append">
                      <div class="input-group-text font-weight-bold pointer file-view-create" data-object="del-ocr" data-delete="1">{{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'file-view-ocr-del-ocr-spinner-icon')|raw }}{{ Config.Icons.Start.getIcon('fa-fw', '', 'file-view-ocr-del-ocr-runner-icon')|raw }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row" id="file-view-ocr-data">
                <div class="col-12 form-group mt-2 mb-0">
                  <label for="file-view-ocr-data">OCR-Daten</label>
                </div>
                <div class="col-12 col-lg-6">
                  <ul class="list-group list-group-flush formlike-list" style="width:100%;">
                    {% for i in 0..Page.File.getPageCount()-1 %}
                    <li class="list-group-item d-flex justify-content-between align-items-center{% if loop.first %} rounded-top{% endif %}{% if loop.last %} rounded-bottom{% endif %} p-2">
                      <span class="font-weight-bold">Seite {{ i+1 }}</span><span id="file-view-ocr-ocr-page-{{ i }}-wordcount">{{ Page.File.getWordCount(i)|raw }}</span><span class="badge badge-secondary badge-pill ml-5"><span id="file-view-ocr-ocr-page-{{ i }}-confidence">{{ Page.File.getConfidenceLevel(i)|raw }}</span> %</span></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="px-2 pr-xl-5 pb-3 pt-lg-4">
            {% if Page.ShowFile %}
            <div class="row rounded-top px-3">
              <ol class="breadcrumb p-1 m-0 mx-auto">
                <li class="breadcrumb-item active small" id="file-ocrviewer-orig"><a href="#" >{{ Page.File.getExtObject().getIcon('mr-1 rainbow')|raw }} {{ Page.File.getExtObject().getName() }}</a></li>
                <li class="breadcrumb-item small" id="file-ocrviewer-jpg"><a href="#" >{{ Config.Icons.Jpg.getIcon('mr-1 rainbow')|raw }} JPG</a></li>
                <li class="breadcrumb-item small" id="file-ocrviewer-tif"><a href="#" >{{ Config.Icons.Jpg.getIcon('mr-1 graybow')|raw }} TIF</a></li>
                <li class="breadcrumb-item small" id="file-ocrviewer-ocr"><a href="#" >{{ Config.Icons.OcrFile.getIcon('mr-1')|raw }} OCR</a></li>
              </ol>
            </div>
            {% if Page.File.getPageCount() > 1 %}
            <div class="row px-3 d-none">
              <ol class="breadcrumb p-1 m-0 mx-auto">
                <li class="breadcrumb-item small font-weight-bold">Seite</li>
                {% for i in 0..Page.File.getPageCount()-1 %}
                <li class="breadcrumb-item {% if i == 0 %}active {% endif %}small" id="file-ocrviewer-page-{{ i }}"><a href="#" >{{ i+1 }}</a></li>
                {% endfor %}
              </ol>
            </div>
            {% endif %}
            <object class="rounded-bottom" width="100%" style="height: 75vh;" data="/file/view/{{ Page.File.getId() }}" type="{{ Page.File.getExtObject().getMimeType() }}"></object>
            {% else %}
            <div class="text-muted">Das Dateiformat kann nicht im Browser angezeigt werden, stattdessen <a href="file/download/{{ Page.File.getId() }}">{{ Config.Icons.Download.getIcon('ml-1')|raw }} herunterladen</a>?</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
