
            <form class="needs-validation" novalidate id="form-file-edit" data-fileid="{{ Page.File.getId() }}" data-filename="{{ Page.File.getName() }}">
              <div class="form-row">
                <div class="col-12 form-group  mb-1">
                  <label for="file-edit-filename">Dateiname</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="file-edit-filename" name="file-edit-filename" placeholder="Dateiname" value="{{ Page.File.getName() }}" data-form-id="form-file-edit" required />
                    <div class="input-group-append pointer" id="file-edit-savename" data-form-id="form-file-edit">
                      <div class="input-group-text"><strong>{{ Config.Icons.Save.getIcon('mr-1 fa-fw form-editicon-save')|raw }}{{ Config.Icons.Spinner.getIcon('mr-1 fa-fw d-none fa-spin form-editicon-saving')|raw }}<span class="d-none d-md-inline">speichern</span></strong></div>
                    </div>
                  </div>
                </div>
                <div class="col-8 form-group mb-2 mb-md-4">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Page.File.getExtObject().getIcon('fa-fw')|raw }}</div>
                    </div>
                    <input type="text" class="form-control" readonly id="file-edit-filetype" value="{{ Page.File.getExtObject().getMimeType() }}" />
                  </div>
                </div>
                <div class="col-4 form-group mb-2 mb-md-4">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">{{ Config.Icons.FileSize.getIcon('fa-fw')|raw }}</div>
                    </div>
                    <input type="text" readonly class="form-control" id="file-edit-filesize" value="{{ Page.File.getReadableSize() }}" />
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 form-group  mb-1">
                  <label for="file-edit-path">Dateipfad</label>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" readonly id="file-edit-path" name="file-edit-path" placeholder="Dateipfad" value="{{ Page.File.getParent().getPath() }}" required />
                    {% if Controller.User().may([4, 'files:copy']) %}
                    <div class="input-group-append pointer" id="file-edit-copyfile" data-form-id="form-file-edit">
                      <div class="input-group-text"><strong>{{ Config.Icons.Copy.getIcon('mr-1 fa-fw')|raw }}<span class="d-none d-md-inline">kopieren</span></strong></div>
                    </div>
                    {% endif %}
                    {% if Controller.User().may([4, 'files:move']) %}
                    <div class="input-group-append pointer" id="file-edit-movefile" data-form-id="form-file-edit">
                      <div class="input-group-text"><strong>{{ Config.Icons.Move.getIcon('mr-1 fa-fw')|raw }}<span class="d-none d-md-inline">verschieben</span></strong></div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% if Controller.User().may([4, 'files:move:toTrash']) or Controller.User().may([4, 'files:delete']) %}
              <div class="form-row">
                <div class="col-12 form-group  mb-1">
                  <label for="file-edit-path">Weitere Funktionen</label>
                  <div class="input-group mb-2">
                    {% if Controller.User().may([4, 'files:move:toTrash']) %}
                    <div class="input-group-prepend pointer" id="file-edit-movetotrash" data-form-id="form-file-edit">
                      <div class="input-group-text btn btn-warning">{{ Config.Icons.Trash.getIcon('mr-1 fa-fw')|raw }}<span class="d-none d-md-inline">In Papierkorb verschieben</span></div>
                    </div>
                    {% endif %}
                    {% if Controller.User().may([4, 'files:delete']) %}
                    <div class="input-group-append pointer" id="file-edit-deletefile" data-form-id="form-file-edit">
                      <div class="input-group-text btn btn-danger">{{ Config.Icons.Delete.getIcon('mr-1 fa-fw')|raw }}<span class="d-none d-md-inline">Datei löschen</span></div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endif %}
            </form>

            {% if Controller.User().may([4, 'files:move']) %}
            <div class="modal fade" id="movefile-modal" tabindex="-1" role="dialog" aria-labelledby="Move file modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="movefile-modal-title">{{ Config.Icons.Move.getIcon('mx-1', '', 'modal-action-icon')|raw }} Datei <span id="modal-action-identifier">verschieben</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body d-none" id="movefile-modal-list">
                    <ol class="breadcrumb d-none">
                    </ol>
                    <ul class="list-group list-group-flush" id="movefile-modal-list">
                    </ul>
                  </div>
                  <div class="modal-body bg-danger text-light d-none" id="movefile-modal-error">
                    <p>{{ Config.Icons.Exclamation.getIcon('fa-fw mr-1')|raw }}
                      <span class="d-none" id="movefile-modal-errortext-getfiletree">Fehler beim Abrufen des Verzeichnisbaums.</span>
                      <span class="d-none" id="movefile-modal-errortext-movefile">Fehler beim Verschieben der Datei.</span>
                    </p>
                    <p><span id="movefile-modal-error-code">0</span>: <span id="movefile-modal-error-message"></span></p>
                  </div>
                  <div class="modal-footer">
                    <ul class="pagination small mr-auto" id="movefile-paginationmode">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Common used" id="movefile-paginationmode-common">
                          <span aria-hidden="true">{{ Config.Icons.Favorite.getIcon('fa-fw')|raw }}</span>
                          <span class="sr-only">Common used</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Treeview" id="movefile-paginationmode-treeview">
                          <span aria-hidden="true">{{ Config.Icons.Treeview.getIcon('fa-fw')|raw }}</span>
                          <span class="sr-only">Treeview</span>
                        </a>
                      </li>
                    </ul>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Abbruch</button>
                    <button type="button" class="btn btn-success disabled" id="movefile-modal-sendbutton">{{ Config.Icons.Spinner.getIcon('mr-1 fa-fw fa-spin d-none', '', 'movefile-modal-sendbutton-spinner')|raw }} {{ Config.Icons.Move.getIcon('mx-1', '', 'modal-submit-icon')|raw }} Jetzt <span id="modal-action-actionbutton">verschieben</span></button>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
