
            <div class="row mb-2">
              <div class="col small">
                Die Validierung ist ein mehrstufiger Prozess um Dateien auf Konsistenz und Verarbeitbarkeit (OCR) zu prüfen.
                Erst wenn die Validierung mindestens einmal vollständig und erfolgreich durchgeführt wurde, kann die OCR-Lesung ausgeführt werden.
                <hr />
              </div>
            </div>
            <div class="row">
              <div class="col">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item py-2" id="file-validate-pdffile-list">Prüfungen: Dateien allgemein
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item py-2" id="file-validate-isfile-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-isfile-icon')|raw }} <span id="file-validate-isfile-text">Es ist eine Datei, kein Verzeichnis?</span></li>
                      <li class="list-group-item py-2" id="file-validate-exists-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-exists-icon')|raw }} <span id="file-validate-exists-text">Datei existiert noch?</span></li>
                      <li class="list-group-item py-2" id="file-validate-checksum-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-checksum-icon')|raw }} <span id="file-validate-checksum-text">Abgleich Prüfsumme</span></li>
                      <li class="list-group-item py-2" id="file-validate-filesize-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-filesize-icon')|raw }} <span id="file-validate-filesize-text">Datei &gt; 0 KB?</span></li>
                      <li class="list-group-item py-2" id="file-validate-extension-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-extension-icon')|raw }} <span id="file-validate-extension-text">Dateierweiterung bekannt?</span></li>
                    </ul>
                  </li>
                  <li class="list-group-item py-2" id="file-validate-pdf-list">Prüfungen: PDF-Dateien
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item py-2" id="file-validate-pdf-pages-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-pdf-pages-icon')|raw }} <span id="file-validate-pdf-pages-text">Seitenzahl &gt; 0?</span></li>
                      <li class="list-group-item py-2" id="file-validate-pdf-jpg-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-pdf-jpg-icon')|raw }} <span id="file-validate-pdf-jpg-text">JPG erzeugt?</span></li>
                      <li class="list-group-item py-2" id="file-validate-pdf-tif-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-pdf-tif-icon')|raw }} <span id="file-validate-pdf-tif-text">TIF erzeugt?</span></li>
                    </ul>
                  </li>
                  <li class="list-group-item py-2" id="file-validate-ocr-list">Prüfungen: OCR-Daten
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item py-2" id="file-validate-ocr-readable-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-ocr-readable-icon')|raw }} <span id="file-validate-ocr-readable-text">OCR-Lesbarkeit speichern</span></li>
                      <li class="list-group-item py-2" id="file-validate-ocr-tsv-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-ocr-tsv-icon')|raw }} <span id="file-validate-ocr-tsv-text">TSV erzeugt?</span></li>
                      <li class="list-group-item py-2" id="file-validate-ocr-fulltext-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-ocr-fulltext-icon')|raw }} <span id="file-validate-ocr-fulltext-text">Volltext gespeichert?</span></li>
                      <li class="list-group-item py-2" id="file-validate-ocr-indexes-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validate-ocr-indexes-icon')|raw }} <span id="file-validate-ocr-indexes-text">Indizes gespeichert?</span></li>
                    </ul>
                  </li>
                  <li class="list-group-item py-2" id="file-validation-listitem">{{ Config.Icons.Unchecked.getIcon('fa-fw mr-1', '', 'file-validation-icon')|raw }} <span id="file-validation-text">Validierung speichern</span></li>
                </ul>
              </div>
            </div>
