
            <h3>Manuelle Klassifizierung</h3>
            <div class="form-row">
              <div class="col-12 col-lg-5 form-group">
                <label for="doc-type">Klassifizierung (Typ)</label>
                <div class="input-group mb-1">
                  <select class="form-control selectpicker" data-live-search="true" id="doc-type" readonly>
                    <option value="{{ Page.File.getDocument().getType().getId() }}" selected="selected">{{ Page.File.getDocument().getType().getName() }}</option>
                    {% for doctype in DocTypes %}
                    <option value="{{ doctype.getId() }}">{{ doctype.getName() }}</option>
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text classify-manual" id="classify-type-manual"
                      data-for="doc-type" data-group="type" data-id="{{ Page.File.getDocument().getType().getId() }}" data-icon="classify-type-submit-icon" data-spinner="classify-type-submit-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-type-submit-spinner')|raw }}
                      {{ Config.Icons.Save.getIcon('fa-fw', '', 'classify-type-submit-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-7 form-group">
                <label for="doc-title">Dokumentbezeichnung</label>
                <div class="input-group mb-1">
                  <input type="text" class="form-control" id="doc-title" placeholder="Beliebige Dokumentbezeichnung angeben." value="{{ Page.File.getDocument().getTitle() }}">
                  <div class="input-group-append">
                    <div class="input-group-text doctitle-manual pointer" id="doc-title-submit"
                      data-for="doc-title" data-group="title" data-icon="doc-title-submit-icon" data-spinner="doc-title-submit-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'doc-title-submit-spinner')|raw }}
                      {{ Config.Icons.Save.getIcon('fa-fw', '', 'doc-title-submit-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 form-group">
                <label for="doc-category">Eingruppierung (Kategorie)</label>
                <div class="input-group mb-1">
                  <select class="form-control selectpicker" data-live-search="true" id="doc-category">
                    <option value="{{ Page.File.getDocument().getCategory().getId() }}" selected="selected">{{ Page.File.getDocument().getCategory().getCategoryPath()|join('&nbsp;&#x27f6;&nbsp;')|raw }}</option>
                    {% for doccat in DocCategories %}
                    {% include "views/fileview/file-view-classify--category-option.html.twig" with { 'doccat': doccat } only %}
                    {% endfor %}
                  </select>
                  <div class="input-group-append">
                    <div class="input-group-text classify-manual" id="classify-category-manual"
                      data-for="doc-category" data-group="category" data-icon="classify-category-submit-icon" data-spinner="classify-category-submit-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-category-submit-spinner')|raw }}
                      {{ Config.Icons.Save.getIcon('fa-fw', '', 'classify-category-submit-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h3>Automatische Klassifizierung</h3>
            <div class="form-row">
              <div class="col-12 col-lg-6 form-group">
                <label for="classify-result-type">Ergebnis (Typ)</label>
                <div class="input-group-text text-left text-truncate" id="classify-result-type">&nbsp;</div>
              </div>
              <div class="col-12 col-lg-6 form-group">
                <label for="classify-result-category">Ergebnis (Kategorie)</label>
                <div class="input-group-text text-left text-truncate" id="classify-result-category">&nbsp;</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-lg-6 form-group">
                <label for="classify-classifiedas-type">Typ</label>
                <div class="input-group-text text-left text-truncate" id="classify-classifiedas-type">&nbsp;</div>
              </div>
              <div class="col-12 col-lg-6 form-group">
                <label for="classify-classifiedas-category">Kategorie</label>
                <div class="input-group-text text-left text-truncate" id="classify-classifiedas-category">&nbsp;</div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-lg-6 form-group">
                <label for="classify-candidate1-type">Kandidaten</label>
                <div class="input-group mb-1">
                  <input type="text" class="form-control" readonly id="classify-candidate1-type" value="">
                  <div class="input-group-append">
                    <div class="input-group-text classify-acceptor" id="classify-candidate1-type-acceptor"
                      data-id="" data-group="type" data-icon="classify-candidate1-type-icon" data-spinner="classify-candidate1-type-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-candidate1-type-spinner')|raw }}
                      {{ Config.Icons.Vote.getIcon('fa-fw', '', 'classify-candidate1-type-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 form-group">
                <label for="classify-candidate1-category">Kandidaten</label>
                <div class="input-group mb-1">
                  <input type="text" class="form-control" readonly id="classify-candidate1-category" value="" data-id="" data-group="category">
                  <div class="input-group-append">
                    <div class="input-group-text classify-acceptor" id="classify-candidate1-category-acceptor"
                      data-id="" data-group="category" data-icon="classify-candidate1-category-icon" data-spinner="classify-candidate1-category-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-candidate1-category-spinner')|raw }}
                      {{ Config.Icons.Vote.getIcon('fa-fw', '', 'classify-candidate1-category-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-lg-6 form-group">
                <div class="input-group mb-1">
                  <input type="text" class="form-control" readonly id="classify-candidate2-type" value="">
                  <div class="input-group-append">
                    <div class="input-group-text classify-acceptor" id="classify-candidate2-type-acceptor"
                      data-id="" data-group="type" data-icon="classify-candidate2-type-icon" data-spinner="classify-candidate2-type-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-candidate2-type-spinner')|raw }}
                      {{ Config.Icons.Vote.getIcon('fa-fw', '', 'classify-candidate2-type-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 form-group">
                <div class="input-group mb-1">
                  <input type="text" class="form-control" readonly id="classify-candidate2-category" value="">
                  <div class="input-group-append">
                    <div class="input-group-text classify-acceptor" id="classify-candidate2-category-acceptor"
                      data-id="" data-group="category" data-icon="classify-candidate2-category-icon" data-spinner="classify-candidate2-category-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-candidate2-category-spinner')|raw }}
                      {{ Config.Icons.Vote.getIcon('fa-fw', '', 'classify-candidate2-category-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-lg-6 form-group">
                <div class="input-group mb-1">
                  <input type="text" class="form-control" readonly id="classify-candidate3-type" value="">
                  <div class="input-group-append">
                    <div class="input-group-text classify-acceptor" id="classify-candidate3-type-acceptor"
                      data-id="" data-group="type" data-icon="classify-candidate3-type-icon" data-spinner="classify-candidate3-type-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-candidate3-type-spinner')|raw }}
                      {{ Config.Icons.Vote.getIcon('fa-fw', '', 'classify-candidate3-type-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6 form-group">
                <div class="input-group mb-1">
                  <input type="text" class="form-control" readonly id="classify-candidate3-category" value="">
                  <div class="input-group-append">
                    <div class="input-group-text classify-acceptor" id="classify-candidate3-category-acceptor"
                      data-id="" data-group="category" data-icon="classify-candidate3-category-icon" data-spinner="classify-candidate3-category-spinner">
                      {{ Config.Icons.Spinner.getIcon('fa-fw fa-spin d-none', '', 'classify-candidate3-category-spinner')|raw }}
                      {{ Config.Icons.Vote.getIcon('fa-fw', '', 'classify-candidate3-category-icon')|raw }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
