    <div class="container-fluid ">
      <div class="px-1 px-md-2 px-lg-3 px-xl-5 pb-3 pt-lg-4">
        <div class="container mb-3 d-none" id="error-container">
          <div class="row mb-1">
            <div class="col-12">
              <ul class="list-group" id="mount-errors">
              </ul>
            </div>
          </div>
        </div>
        {% for Mount in Page.Mounts %}
        <div class="form-row mount" id="mount-{{ Mount.getId() }}" data-id="{{ Mount.getId() }}" data-name="{{ Mount.getName() }}">
          <div class="col-12 form-group mb-1">
            {% if Mount.hasRoot() %}
            <div class="input-group d-flex flex-nowrap" id="mount-group-{{ Mount.getId() }}">
              <div class="input-group-prepend">
                <div class="input-group-text mount-{{ Mount.getId() }}-actor">
                  <a class="mount-{{ Mount.getId() }}-actor" href="{{ Mount.getLink() }}">
                    {{ Mount.getIcon('mr-1 fa-fw', '', 'mount-{{ Mount.getId() }}-icon')|raw }}
                  </a>
                </div>
                <div class="input-group-text font-weight-bold mount-{{ Mount.getId() }}-actor">
                  <a class="mount-{{ Mount.getId() }}-actor" href="{{ Mount.getLink() }}">#{{ Mount.getId() }}</a>
                </div>
              </div>
              <div class="input-group-text flex-grow-1 text-left rounded-0 mount-{{ Mount.getId() }}-actor d-flex d-md-none text-truncate">
                <a class="mount-{{ Mount.getId() }}-actor" href="{{ Mount.getLink() }}">{{ Mount.getName() }}</a>
              </div>
              <div class="input-group-text flex-grow-1 text-left rounded-0 mount-{{ Mount.getId() }}-actor d-none d-md-flex text-truncate">
                <a class="mount-{{ Mount.getId() }}-actor" href="{{ Mount.getLink() }}">{{ Mount.getPath() }}</a>
              </div>
              <div class="input-group-append">
              <div class="input-group-text mount-{{ Mount.getId() }}-actor d-none d-lg-flex" id="mount-{{ Mount.getId() }}-filecount">{{ Mount.getFileCountStr() }}</div>
                <div class="input-group-text mount-{{ Mount.getId() }}-actor" id="mount-{{ Mount.getId() }}-bytecount">{{ Mount.getFileSizeStr() }}</div>
                {% if Controller.User().may([5, 'mount:scan']) %}
                <div class="input-group-text font-weight-bold pointer mount-scan mount-{{ Mount.getId() }}-actor" data-mountid="{{ Mount.getId() }}">
                  {{ Config.Icons.Sync.getIcon('fa-fw mount-runners', '', 'mount-'~Mount.getId()~'-runner-icon')|raw }}
                </div>
                {% endif %}
              </div>
            </div>
            {% else %}
            <div class="input-group" id="mount-group-{{ Mount.getId() }}">
              <div class="input-group-prepend">
                <div class="input-group-text mount-{{ Mount.getId() }}-actor">{{ Mount.getIcon('mr-1 fa-fw', '', 'mount-{{ Mount.getId() }}-icon')|raw }}
                </div>
                <div class="input-group-text font-weight-bold mount-{{ Mount.getId() }}-actor">#{{ Mount.getId() }}
                </div>
              </div>
              <div class="input-group-text flex-fill text-left rounded-0 mount-{{ Mount.getId() }}-actor d-flex d-md-none text-truncate">{{ Mount.getName() }}
              </div>
              <div class="input-group-text flex-fill text-left rounded-0 mount-{{ Mount.getId() }}-actor d-none d-md-flex text-truncate">{{ Mount.getPath() }}
              </div>
              <div class="input-group-append">
              <div class="input-group-text mount-{{ Mount.getId() }}-actor d-none d-lg-flex">{{ Mount.getFileCountStr() }}</div>
                <div class="input-group-text mount-{{ Mount.getId() }}-actor">{{ Mount.getFileSizeStr() }}</div>
                {% if Controller.User().may([5, 'mount:scan']) %}
                <div class="input-group-text font-weight-bold pointer mount-scan mount-{{ Mount.getId() }}-actor" data-mountid="{{ Mount.getId() }}">
                  {{ Config.Icons.Sync.getIcon('fa-fw mount-runners', '', 'mount-'~Mount.getId()~'-runner-icon')|raw }}
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
