
    <div class="container-fluid ">
      <div class="px-1 px-md-2 px-lg-3 px-xl-5 pb-3 pt-lg-4">
        {% for File in Page.Files %}
          {% if File.getMount().isInbox() %}
            {% if File.isDir() %}
        <div class="card nowrap-hidden mb-1">
          <div class="card-header">
            <h4 class="card-title" style="margin-bottom:0!important;"><a href="{{ File.getLink() }}">{{ File.getPath() }}</a></h4>
          </div>
          <ul class="list-group list-group-flush">
            {% for item in File.getChilds() %}
              {% if item.isFile() %}
            <li class="list-group-item">
              <a href="{{ item.getEditLink() }}">{{ loop.index }} - <b>{{ item.getName() }}</b></a>
            </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
