
      <div class="w-100">
        <ul class="content-list">
          {% for Recipe in Recipes %}
          <li class="item item-hoverable">
            <div class="item-flexbox">
              <div class="item-icon">{% if Recipe.hasPictures() %}
                {% set Picture = Recipe.getPictures()[0] %}
                <a href="{{ Controller.getLink('recipe:show', Recipe.getId(), Recipe.getName()) }}">
                  <img class="rounded" src="{{ Controller.getLink('recipe:picture:link', Picture.getFilename(null, 60)) }}" style="max-height:60px;"
                    title="{{ Controller.l('page_myrecipes_img_title', Recipe.getName()) }}" />
                </a>{% endif %}
              </div>
              <div class="item-major">
                <div class="title">
                  <a href="{{ Controller.getLink('recipe:show', Recipe.getId(), Recipe.getName()) }}">
                    {{ Recipe.getName() }}
                  </a>
                </div>
                <div class="info">
                  {% if Recipe.isPublished() == false %}
                  <span class="d-none d-md-inline text-muted" title="{{ Controller.l('page_myrecipes_private_description') }}">
                    {{ Controller.l('page_myrecipes_private_title') }}
                  </span>
                  {% else %}
                  <span class="text-muted" title="{{ Controller.l('page_myrecipes_public_description') }}">
                    {{ Config.Icons.Calendar('')|raw }}
                    {{ Controller.l('page_myrecipes_public_title', Recipe.getPublishedDateStr()) }}
                  </span>
                  {% endif %}
                  {% if Recipe.getViewedCount() > 0 %}
                  <span class="mx-0 mx-md-1">•</span>
                  <span class="text-muted">
                    {{ Config.Icons.View('')|raw }}
                    {{ Recipe.getViewedCountStr() }}
                    <span class="d-none d-md-inline">{{ Controller.l('page_myrecipes_viewed_description')|raw }}</span>
                  </span>
                  {% endif %}
                  {% if Recipe.getVotedCount() > 0 %}
                  <span class="mx-0 mx-md-1">•</span>
                  <span class="text-muted">
                    {{ Recipe.getVotingStr() }} {{ Config.Icons.Star('text-success')|raw }}
                    <span class="d-none d-md-inline">{{ Controller.l('page_myrecipes_voted_description', Recipe.getVotedCountStr()) }}</span>
                  </span>
                  {% endif %}
                </div>
              </div>
              <div class="item-minor d-none d-md-flex">
                {% if Recipe.isPublished() == false %}
                <!--<span id="btn-delete-recipe" data-id="{{ Recipe.getId() }}" class="btn btn-outline-danger btn-sm">
                  {{ Config.Icons.Delete('mr-1')|raw }}{{ Controller.l('page_myrecipes_deleteBtn_description') }}
                </a>-->
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
