
      <div class="w-100">
        <ul class="content-list">
          {% for Customer in Customers %}
          <li class="item item-hoverable">
            <div class="item-flexbox">
              <div class="item-major">
                <div class="title">
                  <a href="{{ Controller.getLink('admin:customer:' ~ Customer.getId()) }}">
                    {% if Customer.isBlocked() %}
                      {{ Config.Icons.Ban.getIcon('mr-1 text-danger')|raw }}
                    {% else %}
                      {{ Config.Icons.Tag.getIcon('mr-1')|raw }}
                    {% endif %}
                    {{ Customer.getName() }}
                    {% if Customer.isInternal() %}
                      <span class="ml-2 small">(intern)</span>
                    {% endif %}
                  </a>

                </div>
                <div class="info">
                  <span class="d-none d-md-inline">#{{ Customer.getId() }}</span>
                  {% if Customer.getAddressMain().getName() != '' %} •
                  <span>
                    {{ Customer.getAddressMain().getName() }},
                    {{ Customer.getAddressMain().getZip() }} {{ Customer.getAddressMain().getCity() }}
                  </span>
                  {% endif %}{% if Customer.isActivated() %} •
                  <span>
                    Aktiviert am {{ Customer.getActivationDate()|date('d.m.Y') }}
                  </span>
                {% endif %}{% if Customer.isBlocked() %} •
                  <span>
                    Sperrvermerk vom {{ Customer.getBlockedDate()|date('d.m.Y') }}
                    durch {{ Customer.getBlockedBy().getName() }}
                  </span>
                  {% endif %}
                </div>
              </div>
              <div class="item-minor">

              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
